<h3 class="ui header">{{t "forms.i-i-s-tes-продажа-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-tes-продажа-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-tes-продажа-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-tes-продажа-e.сумма-caption")
      data-test-i-i-s-tes-продажа-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.коммент
      class=(if (v-get validationModel "коммент" "isInvalid") "error")
      label=(t "forms.i-i-s-tes-продажа-e.коммент-caption")
      data-test-i-i-s-tes-продажа-e-коммент=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "коммент" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-tes-продажа-e.клиент-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиент
      displayAttributeName="фИО"
      autocomplete=true
      relationName="клиент"
      projection="КлиентL"
      title=(t "forms.i-i-s-tes-продажа-e.клиент-caption")
      readonly=readonly
      componentName="клиентLookup"
      class=(if (v-get validationModel "клиент" "isInvalid") "error")
      data-test-i-i-s-tes-продажа-e-клиент=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиент" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-tes-продажа-e.типПродажи-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.типПродажи
      displayAttributeName="название"
      autocomplete=true
      relationName="типПродажи"
      projection="ТипПродажиL"
      title=(t "forms.i-i-s-tes-продажа-e.типПродажи-caption")
      readonly=readonly
      componentName="типПродажиLookup"
      class=(if (v-get validationModel "типПродажи" "isInvalid") "error")
      data-test-i-i-s-tes-продажа-e-типПродажи=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "типПродажи" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-tes-продажа-e.позиция-caption"}}</label>
    {{flexberry-groupedit
      componentName="позицияGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.позиция
      content=model.позиция
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "позиция" "isInvalid") "error")
      data-test-i-i-s-tes-продажа-e-позиция=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "позиция" "message")}}
  </div>
</form>
